<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{getTotal()}}</span></div>
   <div>Space Debris: <span>{{getTypeTotal("Space Debris")}}</span></div>
   <div>Communication: <span>{{getTypeTotal("Communication")}}</span></div>
   <div>Probe: <span>{{getTypeTotal("Probe")}}</span></div>
   <div>Positioning: <span>{{getTypeTotal("Positioning")}}</span></div>
   <div>Space Station: <span>{{getTypeTotal("Space Station")}}</span></div>
   <div>Telescope: <span>{{getTypeTotal("Telescope")}}</span></div>
</div>
